// Fuentes locales
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype"),
        url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}